@model CatanTool.Models.Playboard

@{
    ViewData["Title"] = "Home Page";
}

<div id="TestImage">
    <img height="1000" width="1000" src=@Model.Data>
</div>
<br/>
<input id="Download" class="btn btn-secondary" type="button" value="Download" onclick="saveData('ABCCatanmap', '@Model.Data');" />

