@model CatanTool.Models.Playboard

@{
    ViewData["Title"] = "Home Page";

}



<div id="CatantoolHolder">
    <div id="ImageHolder">
        <img id="PlayboardImage" height="1000" width="1000" src=@Model.Data>
    </div>

    <div id="TopJunctions">
        <ol>
            @foreach (var junction in Model.TopJunctions)
            {
                <li>
                    @junction.ToString();
                </li>
            }
        </ol>
    </div>
</div>
<br />

<div class="btn-group">



</div>
<input style="margin-bottom:15px" id="Download" class="btn btn-secondary" type="button" value="Download image" onclick="saveData('@Model.Data');" />
<br />
<input style="margin-bottom:15px" id="Export" class="btn btn-secondary" type="button" value="Export layout" onclick="exportData('@ViewBag.ExportJsonString');" />
<form method="post" asp-controller="Home" asp-action="ImportData" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="form-group">
        @*<div class="col-md-4">*@
        <input type="file" accept=".json" id="importFile" name="SubmitterPicture" />
        @*<input type="button" class="btn btn-secondary" onclick="enableButton();">*@
        @*</div>*@
        <div class="form-group">
            @*<div class="col-md-10">*@
            <input style="margin-bottom: 15px" id="Import" type="submit" class="btn btn-secondary" value="Import layout" />
            @*</div>*@
        </div>
    </div>
</form>
@{
    if (ViewBag.ErrorImportMessage != null)
    {
        <h2>@ViewBag.ErrorImportMessage</h2>
    }

}



@*<form asp-action="View">
        <div class="form-group">
            <input type="submit" class="btn btn-secondary" value="Result" asp-controller="Home" asp-action="bruh" />
        </div>
    </form>*@


