@model CatanTool.Models.Playboard

@{
    ViewData["Title"] = "Home Page";
}

<div id="CatantoolHolder">
    <div id="ImageHolder">
        <img id="PlayboardImage" height="1000" width="1000" src=@Model.Data>
    </div>

    <div id="TopJunctions">
        <ol>
            @foreach (var junction in Model.TopJunctions)
            {
                <li>
                    @junction.ToString();
                </li>
            }
        </ol>
    </div>
</div>


<button onclick="(saveBase64AsFile(@Model.Data,Image))">smegma</button>

<script>

   function saveBase64AsFile(base64, fileName) {

        var link = document.createElement("a");

        link.setAttribute("href", base64);
        link.setAttribute("download", fileName);
        link.click();
    }
</script>

<br />

